/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.edit-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #030625a8;
  padding: 10px;
  border-radius: 8px;
  border: 6px solid #007BFF;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 5000;
}

.video-edit-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  font-family: 'Source Sans 3', sans-serif;
  margin-bottom: 10px;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field select,
.form-field textarea {
  font-family: 'Source Sans 3', sans-serif;
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 0.9em;
}

.form-field input:focus,
.form-field select:focus,
.form-field textarea:focus {
  border-color: #007BFF;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

button.close-button {
  background-color: transparent;
  color: #fff;
  font-size: 1em;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

button.close-button:hover {
  background-color: red;
}

.edit-form-container h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: #007BFF;
  text-align: center;
  margin: 10px 0;
}

/* Responsiveness */
@media (max-width: 480px) {
  .edit-form-container {
    width: 80%;
    padding: 10px;
  }

  .edit-form-container h1 {
    font-size: 1.2em;
    margin-bottom: 30px;
  }

  .form-field input,
.form-field select,
.form-field textarea {
  padding: 5px !important;
}

  .form-field {
    font-size: 0.8em;
    padding: 5px;
  }

  .form-buttons {
    flex-direction: column;
    gap: 10px;
    font-size: 0.8em !important;
    padding: 2px 6px !important;
    width: 60% !important;
  }

  button.close-button {
    top: 5px !important;
    right: 5px !important;
    width: 10px !important;
    height: 10px !important;
    font-size: 0.6em !important;
    background-color: red !important;
  }
}

@media (min-width: 760px) and (max-width: 1024px) {
  .edit-form-container {
    width: 80%;
    padding: 20px;
  }

  .edit-form-container h1 {
    font-size: 1.5em;
  }

  .form-field {
    font-size: 0.9em;
  }


  button.close-button {
    top: 5px !important;
    right: 5px !important;
    width: 10px !important;
    height: 10px !important;
    font-size: 0.6em !important;
    background-color: red !important;
  }
}
